/*Global*/
body {
  font-family: "Comfortaa", cursive;
  text-align: center;
  background-color: #ad680e;
}

/*Navbar*/

.navbar {
  background-color: #dc8637;
  border-radius: 0;
}

.navbar a:hover {
  color: rgba(255, 255, 255, .5);
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

.navbar-brand {
  color: #f0f0f0;
  font-size: 4em;
  padding: 10% 0 12% 10%;
  letter-spacing: .03em;
}
#definition {
  color: #f0f0f0;
  padding-left: 45%;
  font-size: 1.5em;
}
.navbar-right {
  color: #f0f0f0;
  padding-right: 3%;
  padding-top: 2.5%;
  font-size: 1.5em;
  letter-spacing: .03em;
}

/*Landing*/

.text {
  background-image: url('https://github.com/avocadobravado/rose-intro-team-week-ideas/blob/master/background.png?raw=true');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
  margin: -20px;
}

#adventure-button {
  font-size: 1.5em;
  padding: 1.4%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: #72c6a7;
  font-weight: 700;
  border-radius: 500px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#adventure-button:hover {
  background-color: rgba(255, 255, 255, 1);
  transition: .5s;
}

#begin-button {
  margin-top: -24%;
  margin-bottom: 50%;
  /*border: solid green 3px;*/
}

#landing {
  color: #000;
  width: 100%;
    min-height: auto;
}

#subhead {
  margin-bottom: 30%;
  padding: 10% 20% 0% 20%;
  color: #67390f;
  letter-spacing: 3px;
  font-weight: 700;
}

/*Container*/
.container {
  height: 2000px;
  margin-top: 3%;
  margin-bottom: 6%
}

#start-quiz {
  padding: 1.4%;
}

#start-quiz:hover {
  color: rgba(255, 255, 255, .5);
  -o-transition:1.2s;
  -ms-transition:1.2s;
  -moz-transition:1.2s;
  -webkit-transition:1.2s;
  transition:1.2s;
}

#destination {
  margin-top: 5%;
}

.questions {
  margin-top: 5%;
  background-color: rgba(255,207,98, 1);
  border-radius: 20px;
}

#list-head {
  margin-top: 10%;
}

#working-list {
  list-style-type: none;
  padding: 0;
}
